@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


body{
    background-color: lavenderblush;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;

}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
    font-size: 1.3rem;
}

.brand img{
    width: 44px;
    padding: 0 8px;

}

.brand {

    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.6rem;
}

.container{
    min-height: 82vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 24px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg1.jpg');
}
span.songName{
    font-weight: bold;

}

.fa-play-circle:before {
    content: "\f144";
    margin: 0px 2px;
}

.bottom{
    position: sticky;
    height: 110px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
   width: 80vw;
   cursor: pointer ;
   
}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 45px;
    display: flex;
    background-color: white;
    width: 80%; 
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;

}

.songItem img{
    width: 42px;
    margin: 0 15px;
    border-radius: 34px ;
   
}

.timestamp{
    margin: 0 25px;
    font-weight: bold;
}

.timestamp i{
    cursor: pointer;
}

.songinfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songinfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
@media only screen and (max-width: 600px)  {
    span.songName{
        display: flex;
        text-align: left;
        justify-content: left;
        font-size: 0.9rem;
        width: 80%;
        /* margin: -10px; */
    }
    div.songItem{
        display: flex;
        text-align: left;
        justify-content: flex-start;
        width:100%;
        margin:4px;
    }
    img{
        margin: 0px 4px;
        border-radius:2px;
        width: 36px;
    }
    span.timestamp{
        display: flex;
        justify-content: right;
        margin: 0px 4px;
    }
    div.bottom{
        height: 140px;
    }
    span.songlistplay{
        display: flex;
        justify-content: right;
    }
    span#masterSongName{
        display: flex;
        position: relative;
        text-align: center;
        justify-content: center;
        top: -19px;
        left: 10;
        width: 100%;
    }
    i#masterPlay.far.fa-3x.fa-play-circle::before{
        font-size: 2rem;
    }
    i#masterPlay.far.fa-3x.fa-pause-circle::before{
        font-size: 2rem;
    }
    i#previous.fas.fa-3x.fa-step-backward::before{
        font-size: 2rem;
    }
   i#next.fas.fa-3x.fa-step-forward::before{
        font-size: 2rem;
    }
   #gif{
    position: relative;
    left: 260px;
    top: 30px;
   }
    
    
    
}